<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/ianks/octodown/master/assets/favicon.png" type="image/png" />
    <style><%= stylesheet %></style>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript"><%= script %></script>
  </head>

  <body>
    <article class="markdown-body">
      <%= rendered_markdown %>
    </article>
  </body>
</html>
