<!DOCTYPE html>

<html>
  <head>
    <title><%= title %></title>
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/ianks/octodown/master/assets/favicon.png" type="image/png" />
    <style>
      <%= stylesheet %>
    </style>
  </head>

  <body>
    <article class="markdown-body">
      <%= rendered_markdown %>
    </article>
  </body>
</html>
