<!DOCTYPE html>

<html>
  <head>
    <title><%= title %></title>

    <style>
      <%= stylesheet %>
    </style>
  </head>

  <body>
    <article class="markdown-body">
      <%= rendered_markdown %>
    </article>
  </body>
</html>
