.markdown-body:not([data-use-github-style]) {
  padding: 2em;
  font-size: 1.2em;
  color: #333;
  background-color: #fff;
  overflow: auto;
}
.markdown-body:not([data-use-github-style]) > :first-child {
  margin-top: 0;
}
.markdown-body:not([data-use-github-style]) h1,
.markdown-body:not([data-use-github-style]) h2,
.markdown-body:not([data-use-github-style]) h3,
.markdown-body:not([data-use-github-style]) h4,
.markdown-body:not([data-use-github-style]) h5,
.markdown-body:not([data-use-github-style]) h6 {
  line-height: 1.2;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  color: #000000;
}
.markdown-body:not([data-use-github-style]) h1 {
  font-size: 2.4em;
  font-weight: 300;
}
.markdown-body:not([data-use-github-style]) h2 {
  font-size: 1.8em;
  font-weight: 400;
}
.markdown-body:not([data-use-github-style]) h3 {
  font-size: 1.5em;
  font-weight: 500;
}
.markdown-body:not([data-use-github-style]) h4 {
  font-size: 1.2em;
  font-weight: 600;
}
.markdown-body:not([data-use-github-style]) h5 {
  font-size: 1.1em;
  font-weight: 600;
}
.markdown-body:not([data-use-github-style]) h6 {
  font-size: 1em;
  font-weight: 600;
}
.markdown-body:not([data-use-github-style]) strong {
  color: #000000;
}
.markdown-body:not([data-use-github-style]) del {
  color: #5c5c5c;
}
.markdown-body:not([data-use-github-style]) a,
.markdown-body:not([data-use-github-style]) a code {
  color: #333;
}
.markdown-body:not([data-use-github-style]) img {
  max-width: 100%;
}
.markdown-body:not([data-use-github-style]) > p {
  margin-top: 0;
  margin-bottom: 1.5em;
}
.markdown-body:not([data-use-github-style]) > ul,
.markdown-body:not([data-use-github-style]) > ol {
  margin-bottom: 1.5em;
}
.markdown-body:not([data-use-github-style]) blockquote {
  margin: 1.5em 0;
  font-size: inherit;
  color: #5c5c5c;
  border-color: #d6d6d6;
  border-width: 4px;
}
.markdown-body:not([data-use-github-style]) hr {
  margin: 3em 0;
  border-top: 2px dashed #d6d6d6;
  background: none;
}
.markdown-body:not([data-use-github-style]) table {
  margin: 1.5em 0;
}
.markdown-body:not([data-use-github-style]) th {
  color: #000000;
}
.markdown-body:not([data-use-github-style]) th,
.markdown-body:not([data-use-github-style]) td {
  padding: 0.66em 1em;
  border: 1px solid #d6d6d6;
}
.markdown-body:not([data-use-github-style]) code {
  color: #000000;
  background-color: #f0f0f0;
}
.markdown-body:not([data-use-github-style]) atom-text-editor {
  margin: 1.5em 0;
  padding: 1em;
  font-size: 0.92em;
  border-radius: 3px;
  background-color: #f5f5f5;
}
.markdown-body:not([data-use-github-style]) kbd {
  color: #000000;
  border: 1px solid #d6d6d6;
  border-bottom: 2px solid #c7c7c7;
  background-color: #f0f0f0;
}
